.github__container{
    margin-top: -80px;
}
.calender__container{
    margin-top: 40px;
    background:linear-gradient(35deg,hsl(189, 87%, 50%,0.2),hsl(214, 87%, 50%,0.8));
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
      
}